html {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: whitesmoke;

}
h1 {
    text-align: center;
    font-size: 69px;
    width: 70%;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
    margin: auto;
    padding: 20px;

}
h3 {
    font-size: 31px;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 23px;
	line-height: 150%;
	letter-spacing: 0.01em;
    margin: 0;
    padding: 0;
    min-height: 100%;
    background-color: white;
    max-width: 1440px;
    margin: 0 auto;
   
}

.right {
    height: 100%;
    margin-left: 100px;
    width: 60%;
   }
   
.left {
    background-color: rgb(240,240,240) ;
    min-height: 100%;
    width: 25%;
    margin-left: 100px;
   }
article { 
    display: block;
   }
.ava {
    width: 100%;
    height: 100% ;
}
.logo {
    width: 10%;
    height: 10% ;
}
header {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0;  
    background-color: rgb(61,59,59); 
}
.personal,
.education,
.code,
.contact,
.skills,
.english {
    width: 90%;
    padding: 10px;
}
.left h3 {
    border-bottom: 3px solid grey;
}

.right h3 {
    padding-left: 20px;
    background-color:rgb(61,59,59);
    color: white;
}

main {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding-bottom: 70px; 
    border-bottom:3px solid grey ;


}
.img {
    width: 25%;
    margin-left: 100px;
    margin-top: 100px;
    background-color:  rgb(240,240,240) ;
}
.head {
    color: white;
    width: 60%;
    margin-top: 200px;
    margin-left: 100px;
}
.contact li {
    list-style-type: none;
}
.skills li {
    list-style-type: none;
}
.ion-android-call,
.ion-email,
.ion-information-circled {
    font-size: 28px;
}
.left h3 {
    padding-left: 30px;
}
.english p {
    padding-left: 20px;
}
.ion-social-github {
    color: black;
    font-size: 60px;
}
.sotial {
    display:inline-block;
    text-align:center;
    min-height: 100%;
    background-color: rgb(240,240,240);
    padding-top: 20px;
}

footer {
    margin-top: 20px;
    margin-bottom: 20px;
}
footer a {
    padding: 20px;
}
.center{
    
    max-width: 1440px;
    margin: 0 auto;
}


